*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #CCCCFF;
}
header ul{
    display: flex;
    padding-left: 1000px;
}
ul li{ 

    display: flex;
    flex-direction: column;
    padding-left: 33px;
    text-decoration: none;
    font-family: cursive;
    font-size: x-large;
    /* margin-top: auto; */
    padding-top: 50px;
    
}
header ul li a{
    display: flex;
    color: white;
    padding-left: 33px;
    text-decoration: none;

}
header{
    display: flex;
    background-color: rgb(50, 1, 50);
    height: 120px;
}




/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #CCCCFF;
    padding: 20px;
    font-size: x-large;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  footer{
    padding-top: 50px;
    padding-left: 600px;
    font-size: large;
    color:rgb(50, 1, 50) ;
}